.intro {
  text-indent: 3em;
}
.result, .design, .c-plus, .ruby, .php, .java{
  display: none;
}

.result {
  background-color: red;
  height: 400px;
  width: auto;
}

.pic {
  width: 200px;
  height: 200px;
  float: left;
}

.question {
  float: right;
  word-wrap: break-word;
}
