h5 {
  text-align: center;
}

.btn {
  margin-right: 15%;
  margin-bottom: 4%;
}
.intro {
  text-indent: 3em;
}
.result, .design, .c-plus, .ruby, .php, .java{
  display: none;
}

.result {
  background-color: red;
  height: 400px;
  width: auto;
}

.pic {
  width: 230px;
  height: 230px;
  top:20px;
}

.question {
  margin-top: 30px;
  word-wrap: break-word;
}

.well {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  border-radius: 20px;
}
